In [2]:
import pandas as pd

In [14]:
df = pd.read_csv("log_fw_3.csv", sep=";", header=1)

In [15]:
df

,2023-02-12 03:59:04,66.249.69.178,17.17.17.17,TCP,63808,443,1,PERMIT,eth0,Unnamed: 9,6
0,2023-02-12 03:59:08,221.11.125.141,17.17.17.17,TCP,43123.0,2376.0,999.0,DENY,eth0,NaN,6.0
1,2023-02-12 03:59:18,183.136.225.42,17.17.17.17,TCP,8088.0,70.0,999.0,DENY,eth0,NaN,6.0
2,2023-02-12 03:59:20,38.32.112.34,17.17.17.17,TCP,6356.0,443.0,1.0,PERMIT,eth0,NaN,6.0
3,2023-02-12 03:59:22,45.125.66.18,17.17.17.17,TCP,58438.0,23.0,7.0,DENY,eth0,NaN,6.0
4,2023-02-12 03:59:29,107.170.242.5,17.17.17.17,TCP,39974.0,5093.0,999.0,DENY,eth0,NaN,6.0
...,...,...,...,...,...,...,...,...,...,...,...
999993,2023-03-01 10:54:48,103.162.10.234,17.17.17.17,TCP,47468.0,443.0,1.0,PERMIT,eth0,NaN,6.0
999994,2023-03-01 10:54:50,1.164.127.35,17.17.17.17,TCP,35871.0,23.0,7.0,DENY,eth0,NaN,6.0
999995,2023-03-01 10:54:51,101.43.213.235,17.17.17.17,TCP,3096.0,23.0,7.0,DENY,eth0,NaN,6.0
999996,2023-03-01 10:54:53,66.249.68.3,17.17.17.17,TCP,41389.0,443.0,1.0,PERMIT,eth0,NaN,6.0
999997,2023-03-01 10:54:56,40.77.167.237,17.17.17.17,TCP,55360.0,443.0,1.0,PERMIT,eth0,NaN,6.0